<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- 左侧占两份的内容 -->
      <!-- 这里可以放置你的左侧内容 -->
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title flex-container">
            <p>Current Bucket :</p>
            <p class="bg-info">{{ selectedBucket }}</p>
          </h5>
          <div class="flex-container">
            <button
              *ngFor="let bucketName of buckets; let idx = index"
              type="button"
              class="btn btn-outline-primary flex-item"
              (click)="selectBucket(idx)"
            >
              {{ bucketName }}
            </button>
          </div>
        </div>
      </div>
      <div>
        <form (ngSubmit)="uploadFile()" #fileUploadForm="ngForm">
          <label for="pathInput" class="form-label">Path</label>
          <input
            type="text"
            class="form-control"
            id="pathInput"
            [(ngModel)]="newPath"
            name="path"
            required
          />
          <input
            type="file"
            class="form-control"
            id="fileInput"
            (change)="onFileSelected($event)"
            required
            #fileInputRef
          />
          <button type="submit" class="btn btn-primary">Upload File</button>
        </form>
      </div>

      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><p class="card-text">路径:</p></li>
            <li
              *ngFor="let pathInfo of currentPaths"
              [ngClass]="{ active: pathInfo.active }"
              class="breadcrumb-item"
            >
              <a href="#">{{ pathInfo.path }}</a>
            </li>
          </ol>
        </nav>
      </div>

      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">FileName</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody >
          <ng-container *ngIf="fileLists?.length === 0; else loadedContent">
            <td colspan="3">
              <div class="alert alert-warning" role="alert">
                nothing to show.
              </div>
            </td>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <!-- 右侧占两份的内容 -->
      <!-- 这里可以放置你的右侧内容 -->
    </div>
  </div>
</div>
<ng-template #loadedContent>
  <tr *ngFor="let file of fileLists; let idx = index">
    <th scope="row">{{ idx }}</th>

    <td *ngIf="file.file; else elseBlock">
      <p>{{ file.name }}</p>
    </td>
    <td *ngIf="file.file">
      <button
        (click)="downloadFile(file.name)"
        type="button"
        class="btn btn-primary btn-sm"
      >
        下载</button
      ><button
        (click)="deleteFile(file.name)"
        type="button"
        class="btn btn-danger btn-sm"
      >
        删除
      </button>
    </td>
    <ng-template #elseBlock>
      <td>
        <a (click)="openDir(file.name)" href="#">{{ file.name }}</a>
      </td>
    </ng-template>
  </tr>
</ng-template>

<router-outlet></router-outlet>
